%hr
%p= link_to I18n.t("links.reset_password"), new_user_password_path
%p= link_to I18n.t("links.confirmation"), new_user_confirmation_path
= link_to image_tag('twitter-icon.png', witdh: '21px', height: '21px') + "twitterでログイン", user_omniauth_authorize_path(provider: :twitter), class: "btn btn-primary"
