.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-info-sign
    = I18n.t("labels.notice")
  .panel-body
    = I18n.t("messages.notice.blank") if @notices.count == 0
    %table.table.non-border.table-condensed
      - @notices.each do |notice|
        %tr
          %td
            %span= notice.title
