/%script
/$(document).ready(function() { $(".select").select2(); });
/%select.select
/%option(value='cat1')= "カテゴリ1"
/%option(value='cat2')= "カテゴリ2"

.row
  .col-sm-6
    = render partial: "top_notices"
  .col-sm-6
    - if current_user
      = render partial: "top_messages" if current_user
