- if @years
  %ul.nav.nav-pills
    - @years.each do |key, value|
      %li(class="#{@year == key.to_s ? 'active' : ''}")= link_to key.to_s + I18n.t("date.year"), records_path(year: key, month: params[:month])

%ul.nav.nav-tabs
  - 1.upto(12) do |month|
    %li(class="#{@month == month.to_s ? 'active' : ''}")= link_to month.to_s + I18n.t("date.month"), records_path(year: @year, month: month)
