@import "common";
@import "bootstrap-sprockets";
@import "bootstrap_and_overrides";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "toast";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: image_url("fonts/glyphicons-halflings-regular.eot");
  src: image_url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),       
  image_url("fonts/glyphicons-halflings-regular.woff") format("woff"),
  image_url("fonts/glyphicons-halflings-regular.ttf") format("truetype"),
  image_url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
