body {
  .select2-container-multi .select2-choices .select2-search-choice {
    color: #5e7535;
    background-color: #e8efdf;
    background-image: none;
  }
  .align-right {
    text-align: right;
  }
  .align-center {
    text-align: center;
  }
  .align-left {
    text-align: left;
  }
  .align-middle {
    vertical-align: middle;
  }
  .align-top {
    vertical-align: top;
  }
  .align-bottom {
    vertical-align: bottom;
  }
  .panel-default > .panel-heading {
    padding-left: 20px;
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  .table {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  .btn-checkbox:hover {
    color: #515e12;
  }
  .btn-checkbox {
    border-color: #a8ae88;
  }
  .active {
    background-color: #fff;
  }
  .edit-icon, .add-icon, .trash-icon, .info-icon, .return-icon {
    text-align: right;
    width: 50px;
  }
  .cancel-icon {
    padding-right: 0px;
    padding-left: 0px;
  }
  td.category_name {
    width: 800px;
  }
  .non-block-form-control {
    width: auto;
    height: auto;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
  .panel-body {
    //background-image: url('filter_pig.gif');
    background-image: image_url("filter_pig.gif");
    background-size: 120% auto;
    background-repeat: no-repeat;
  }
  .panel-body.menu {
    background-image: none;
    padding: 0;
    ul {
      padding: 0;
      .list-group-item {
        background-color: transparent;
        border: 0;
      }
    }
  }
  label {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    color: #515e12;
    font-weight: normal;
  }
  .navbar-default .navbar-brand {
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    img { width: 60px; float: left; }
    span.brand-name { border-bottom: dotted 3px #76891a; vertical-align: middle; }
    span.glyphicon { padding-top: 6px; }
    padding: 10px 10px 10px 40px;
  }
  span { padding: 3px; }
  li {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  li.list-group-item {
    a { color: #AC5E9F; }
    span {
      padding-right: 7px;
      color: #AC5E9F;
    }
  }
  .panel-group.menu {
    a {
      color: #ac5e9f;
      font-size: 14px;
    }
  }
  a img { padding-right: 7px; }
  //background-image: url("wood.png");
  background-image: image_url("wood.png");
  .list-group-item {
  }
  .nav.nav-tabs li.active {
    background-color: transparent;
  }
  .nav.nav-pills li.active {
    background-color: transparent;
    margin-bottom: 4px;
    a { border: 1px solid #76891a; }
  }
  .nav.nav-tabs li a:hover, .nav.nav-pills li a:hover {
    background-color: rgba(#fff, 0.5);
  }
  table.table.record tr th {
    border-top: none;
  }
  .table.non-border > tbody > tr > td {
    border-top: none;
  }
  dt {
    font-weight: normal;
    color: #515e12;
  }
  .loader-image {
    height: 20px;
    width: 60px;
    display: block;
    background-image: image_url("loader.gif");
    background-size: 60px;
    background-repeat: no-repeat;
  }
  .footer {
    color: #9fac5e;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .feedback-text-area {
    border: solid 1px #9fac5e;
  } 
  .form-control::-moz-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  }
  font.red {
    color: #ac5e9f;
  }
  .minus {
    color: #ac5e9f;
  }
  .plus {
    color: #5e7535;
  }
  .tooltip-inner {
    border-radius: 10px;
  }
  .tag-color-code, .tag-name, .tag-cancel-icon {
    cursor: pointer;
  }
  .breakdowns-row {
    font-size: 11px;
    width: 50%;
  }
}

