body {
  .panel-default > .panel-heading {
    padding-left: 20px;
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  .table {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  .btn-checkbox:hover {
    color: #515e12;
  }
  .btn-checkbox {
    border-color: #a8ae88;
  }
  .active {
    background-color: #fff;
  }
  .trash-icon {
    width: 50px;
    text-align: right;
  }
  .edit-icon {
    text-align: right;
    width: 50px;
  }
  .non-block-form-control {
    width: auto;
    height: auto;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
  .panel-body {
    background-image: url('filter_pig.gif');
    background-size: 120% auto;
    background-repeat: no-repeat;
  }
  label {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    color: #515e12;
    font-weight: normal;
  }
  .navbar-default .navbar-brand {
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    img { width: 60px; }
    span.brand-name { border-bottom: dotted 3px #76891a; }
    padding: 10px 10px 10px 40px;
  }
  span { padding: 3px; }
  li {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
  }
  li.list-group-item {
    a { color: #AC5E9F; }
    span {
      padding-right: 7px;
      color: #AC5E9F;
    }
  }
  a img { padding-right: 7px; }
  background-image: url("wood.png");
  .list-group-item {
  }
  .nav.nav-tabs li.active {
    background-color: transparent;
  }
  .nav.nav-pills li.active {
    background-color: transparent;
    margin-bottom: 4px;
    a { border: 1px solid #76891a; }
  }
  .nav.nav-tabs li a:hover, .nav.nav-pills li a:hover {
    background-color: rgba(#fff, 0.5);
  }
  table.table.record tr th {
    border-top: none;
  }
}
